.mainLinks {
  padding-left: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-right: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-bottom: var(--mantine-spacing-md);
}

button.userButton {
  padding: rem(8) rem(16);
  border-radius: 0.25rem;

  &:hover {
    background-color: light-dark(
      var(--mantine-primary-color-0),
      var(--mantine-primary-color-5)
    );

    color: light-dark(
      var(--mantine-primary-color-5),
      var(--mantine-primary-color-0)
    );
  }
}
